$header-height: 60px;
$header-padding-top: 30px;

.header {
  position: absolute;
  width: 100%;
  // height: $header-height;
  padding-top: $header-padding-top;
  @include flex();
  @include text();
  color: $text-color_header;

  &__container {
    width: 100%;
    padding: 0 40px;

    @include mobile() {
      padding: 0 20px;
    }
  }

  &__box {
    @include flex($justify: space-between);
    width: 100%;

    @include mobile() {
      align-items: center;
    }
  }

  &__burger-icon {
    display: none;

    @include mobile() {
      display: block;
    }
  }
}

.navbrand {
  &__heading {
    font-size: 32px;
    line-height: 110%;
    color: #F1CDB3;
    letter-spacing: 0.06em;
    display: block;
  }

  &__text {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
  }
}

.navlist {
  @include flex();
  gap: 35px;
  letter-spacing: 0;
  margin: auto 0;

  @include mobile() {
    display: none;
  }

  &__navlink_active {
    border-bottom: 3px #F1CDB3 solid;
    padding-bottom: 2px;
  }
}