$bgcolor1: url('../assets/img/start-screen-gradient-background.png'), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
$bgcolor2: white;
$bgcolor3: #F6F6F6;
$bgcolor4_pets: white;
$bgcolor5_pets: #F6F6F6;

$button_color_normal: #F1CDB3;
$button_color_hover: #FDDCC4;
$button-border-pets: #F1CDB3;

$page_color_normal: #FDDCC4;
$page_color_active: #F1CDB3;

$heading-color: #545454;
$heading-font: Georgia, 'Times New Roman', Times, serif;

$text-size: 15px;
$text-font: Arial, Helvetica, sans-serif;
$text-color_header: white;
$text-color_body: #4C4C4C;

$padding-sections: 80px 40px 100px 40px;