@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'base/base';
// @import 'reset/normalize';
@import 'components/buttons';
@import 'layouts/header';
@import 'components/popup';
@import 'layouts/footer';

.header {
  height: 120px;
  position: relative;
  background: $bgcolor4_pets;
  color: #545454;

  &__container {

    @include tablet() {
      padding: 0px 30px;
    }

    @include mobile() {
      padding: 0px 20px;
    }
  }

  .navbrand {

    &__heading,
    &__text {
      color: #545454;
    }
  }

  .navlist {
    gap: 36px;
  }

  .header__burger-icon {
    filter: invert(0%) sepia(0%) saturate(20%) hue-rotate(357deg) brightness(0%) contrast(104%);
  }
}

.friends {
  background: $bgcolor5_pets;

  &__arrow-start, &__arrow-end, &__arrow-prev, &__arrow-next {
    cursor: pointer;
  }

  &__container {
    width: 100vw;
    @include flex(center, center, column);
    text-align: center;
    gap: 43px;
    padding-bottom: 75px;

    @include tablet() {
      gap: 30px;
    }

    @include mobile() {
      padding-bottom: 43px;
      gap: 40px;
    }
  }

  &__cards-box {
    height: 930px;
    width: 100vw;
    position: relative;
    overflow: hidden;

    @include tablet() {
      height: 1365px;
    }

    @include mobile() {
      height: 1365px;
    }
  }

  &__slider {
    position: absolute;
    display: flex;
    flex-direction: row;
  }

  &__slider-page {
    row-gap: 45px;
    column-gap: 0px;
    display: grid;
    justify-items: center;
    width: 100vw;

    @include tablet() {
      row-gap: 30px;
      padding: 0 70px;
      // grid-template-columns: repeat(2, 1fr);
    }

    @include mobile() {
      row-gap: 31px;
      // padding: 0 25px;
      // grid-template-columns: repeat(1, 1fr);
    }
  }

  &__card {
    background-color: #FAFAFA;
    padding-bottom: 45px;
    @include flex(center, center, column);
    gap: 30px;
    width: 270px;
    @include text();
    @include caption();
    padding-bottom: 30px;
    background: #FAFAFA;

    .button-link {
      border: 2px solid #F1CDB3;
      background: none;
    }


    @include mobile() {
      background: #FAFAFA;
      padding-bottom: 30px;
    }
  }

  .button-link {
    background: none;
    border: solid 1px $button-border-pets;
  }

  .pages-nav {

    @include tablet() {
      margin-top: 10px
    }

    @include mobile() {
      gap: 10px;
    }

    @include flex(center, center, row);
    gap: 20px;

    &__item {
      @include flex(center, center, row);
      border: solid 1px $button-border-pets;
      border-radius: 50%;
      height: 52px;
      width: 52px;
      background-color: inherit;
      font-size: 15px;
    }
    
    &__item:nth-of-type(3) {
      background-color: $button-border-pets;
    }
    
    &__arrow-start,
    &__page-prev {
      transform: rotate(180deg);
      color: #CDCDCD;
    }
    
  }

  &__card:nth-child(3) {

    @include tablet() {
      display: flex;
    }

    @include mobile() {
      display: flex;
    }
  }

  &__card:nth-child(2) {

    @include mobile() {
      display: flex;
    }
  }

  &__card:nth-child(4) {

    @include mobile() {
      display: none;
    }
  }

  &__card:nth-child(5) {

    @include mobile() {
      display: none;
    }
  }

  &__card:nth-child(6) {

    @include mobile() {
      display: none;
    }
  }

  &__card:nth-child(7) {

    @include tablet() {
      display: none;
    }

    @include mobile() {
      display: none;
    }
  }

  &__card:nth-child(8) {

    @include tablet() {
      display: none;
    }

    @include mobile() {
      display: none;
    }
  }

  .fade-in-right {
    animation: fadeInFromRight 700ms ease-in-out;
    animation-fill-mode: forwards;
  }

  .fade-to-left {
    animation: fadeOutToLeft 700ms ease-in-out;
    animation-fill-mode: forwards;
  }

  .fade-in-left {
    animation: fadeInFromLeft 700ms ease-in-out;
    animation-fill-mode: forwards;
  }

  .fade-to-right {
    animation: fadeOutToRight 700ms ease-in-out;
    animation-fill-mode: forwards;
  }
}

.footer {

  &__container {

    @include tablet() {
      justify-content: center;
      row-gap: 45px;
      column-gap: 60px;
      padding: 30px 64px 0 64px;
    }
  }

  &__text {
    @include tablet() {
      margin-top: 0;
    }
  }
}