@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'base/base';
// @import 'reset/normalize';
@import 'components/buttons';
@import 'layouts/header';
@import 'layouts/footer';

.container {
  @include mobile() {
    padding: 30px 20px;
  }
}

.header {
  height: 120px;
  position: relative;
  background: $bgcolor4_pets;
  color: #545454;

  &__container {

    @include tablet() {
      padding: 30px 40px;

    }

    @include mobile() {
      padding: 0px 20px;
    }
  }

  .navbrand {

    &__heading,
    &__text {
      color: #545454;
    }
  }

  .navlist {
    gap: 36px;
  }

  .header__burger-icon {
    filter: invert(0%) sepia(0%) saturate(20%) hue-rotate(357deg) brightness(0%) contrast(104%);
  }



}

.friends {
  background: $bgcolor5_pets;

  &__container {
    display: flex;

    @include tablet() {
      gap: 30px;
    }
  }

  &__slider-page {
    row-gap: 30px;
    column-gap: 40px;
    flex-wrap: wrap;
  }

  &__card {
    background-color: #FAFAFA;
    padding-bottom: 45px;
  }

  .button-link {
    background: none;
    border: solid 1px $button-border-pets;
  }

  .pages-nav {

    @include tablet() {
      margin-top: 10px
    }

    @include mobile() {
      gap: 10px;
    }

    @include flex(center, center, row);
    gap: 20px;

    &__item {
      @include flex(center, center, row);
      border: solid 1px $button-border-pets;
      border-radius: 50%;
      height: 52px;
      width: 52px;
    }

    &__item:nth-of-type(3) {
      background-color: $button-border-pets;
    }

    &__forward-start,
    &__page-prev {
      transform: rotate(180deg);
      color: #CDCDCD;
    }
  }

  &__card:nth-child(3) {

    @include tablet() {
      display: flex;
    }

    @include mobile() {
      display: flex;
    }
  }

  &__card:nth-child(2) {

    @include mobile() {
      display: flex;
    }
  }

  &__card:nth-child(4) {

    @include mobile() {
      display: none;
    }
  }

  &__card:nth-child(5) {

    @include mobile() {
      display: none;
    }
  }

  &__card:nth-child(6) {

    @include mobile() {
      display: none;
    }
  }

  &__card:nth-child(7) {

    @include tablet() {
      display: none;
    }

    @include mobile() {
      display: none;
    }
  }

  &__card:nth-child(8) {

    @include tablet() {
      display: none;
    }

    @include mobile() {
      display: none;
    }
  }
}

.footer {

  &__container {

    @include tablet() {
      justify-content: center;
      row-gap: 45px;
      column-gap: 60px;
      padding: 7px 64px 0 64px;
    }
  }

  &__text {
    @include tablet() {
      margin-top: 0;
    }
  }
}